:root {
  --bg: #080A16;
  --bg-tint: #101223;
  --fg: #5f668c;
  --text: #fafafa;
  --links: #ffbe8c;
  --cta: #fa9549;
  --nav-height: 70px;
  --item-cat-width: 60%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  border: 0 solid;
  border-radius: 0;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg);
}

main {
  height: calc(100vh - var(--nav-height));
}

nav {
  position: relative;
  y: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.logo {
  width: 256px;
  height: 50px;
  background: url("/images/app/logo-sm.webp");
}

.item-manager {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 50px 20px;
  gap: 10px;
}

.item-catalogue {
  width: 100%;
  height: 100%;
  width: var(--item-cat-width);
  background-color: var(--bg-tint);
  border-radius: 25px 0 0 25px;
}

.selected-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - var(--item-cat-width));
}

.item-list {
  display: grid;
  grid: auto / repeat(4, 1fr);
  background-color: var(--bg-tint);
  border-radius: 25px;
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--links) var(--bg-tint);
}

.item-list::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.item:hover {
  background-color: var(--bg);
  cursor: pointer;
  user-select: none;
}

.item img {
  width: 60%;
  aspect-ratio: 1;
  -webkit-user-drag: none;
}