:root {
  --bg: #080A16;
  --bg-tint: #101223;
  --fg: #5f668c;
  --text: #fafafa;
  --links: #ffbe8c;
  --cta: #fa9549;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  border: 0 solid;
  border-radius: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

nav {
  position: relative;
  y: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.logo {
  width: 256px;
  height: 50px;
  background-image: url("images/app/logo-sm.webp");
}

.item-manager {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 50px;
}

.item-list {
  display: grid;
  grid: auto / repeat(4, 1fr);
  width: 70%;
  background-color: var(--bg-tint);
  border-radius: 25px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.item:hover {
  background-color: var(--bg);
  cursor: pointer;
  user-select: none;
}

.item img {
  width: 60%;
  aspect-ratio: 1;
  -webkit-user-drag: none;
}